<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title class="ion-text-center">Gallery</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <p>
      <img src="assets/g1.jpg">
      <img src="assets/g2.jpg">
      <img src="assets/g3.jpg">
      <img src="assets/g4.jpg">
      <img src="assets/g5.jpg">
      <img src="assets/g6.jpg">
      <img src="assets/g7.jpg">
      <img src="assets/g8.jpg">
      <img src="assets/g9.jpg">
      <img src="assets/g10.jpg">
    </p>
  </div>
</ion-content>
